.layout {
  position: relative;
  // height: 100vh;
}

.header {
  height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--color-greyscale-mid);
  border-bottom: 5px solid var(--color-tertiary-light);

  @include tablet {
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem;
  }

  @include desktop {
    padding: 0 20rem;
  }

  &__logo {
    font-family: "Merienda One", cursive;
    font-size: var(--font-size-l);
    color: var(--color-black);
    align-items: center;
    margin-top: 1rem;

    &:hover {
      color: var(--color-grey);
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: var(--font-size-xxm);
    font-weight: bold;
  }

  &__nav a {
    padding: 1rem;
    color: var(--color-social-linkedin);

    &:hover {
      color: var(--color-black);
      border-bottom: 5px solid var(--color-black);
    }

    &:active {
      border-bottom: 5px solid var(--color-red);
    }
  }
}

.main {
  height: 100%;
  position: relative;
  top: 9rem;
  min-height: calc(100vh - 176px);
  padding: 0 3rem;

  @include tablet {
    padding: 0 10rem;
  }

  @include desktop {
    padding: 0 20rem;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 3rem 5rem;
}

.footer {
  font-size: var(--font-size-xm);
  position: relative;
  bottom: 0;
  top: 9rem;
  left: 0;
  right: 0;
  // height: 8rem;
  text-align: center;
  background-color: black;
  color: white;
}
