.typewriter {
  max-width: 100%;
  line-height: 1.4;
  span {
    font-size: var(--font-size-l);
    margin-left: 0;
  }
}

.sentence {
  margin-bottom: 1.5rem;
}

.sentence:not(.last-sentence) {
  display: block;
}

.last-sentence {
  white-space: nowrap;
  display: inline-block;
}

.dynamic-text {
  position: relative;
  color: var(--color-tertiary-light);

  &:after {
    content: "|";
    position: absolute;
    left: calc(100% - 5px);
  }

  &.fade {
    &:after {
      animation: fade 1s infinite ease-in-out;
    }
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
