.experienceList {
  background-color: var(--color-grey);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  border-radius: 0.3rem;
  padding: 1rem 2rem;

  @include tablet {
    padding: 1rem 4rem;
  }

  &__duration {
    color: var(--color-tertiary-light);
  }

  &__position {
    font-weight: 600;
  }

  &__duration,
  &__position {
    font-size: 1.4rem;
  }

  &__description {
    margin-bottom: 3rem;
  }
}
