$tablet: 768px;
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

$desktop: 1024px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

$desktop-xl: 1280px;
@mixin desktop-xl {
  @media (min-width: #{$desktop-xl}) {
    @content;
  }
}

$desktop-2xl: 1536px;
@mixin desktop-2xl {
  @media (min-width: #{$desktop-2xl}) {
    @content;
  }
}
