.Main-info {
  margin-top: 2em;

  @include tablet {
    margin: 2rem;
  }

  .row {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
}
