body {
  margin: 0;
  padding: 0;
  color: var(--body-text-color);
  font-family: var(--font-main);
  line-height: var(--font-base-line-height);
  background-color: var(--color-grey);
  letter-spacing: var(--font-base-letter-spacing);
}

hr {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  box-shadow: none;
  color: var(--links-color);

  &:hover {
    text-decoration: none;
    color: var(--links-color-hover);
  }
}

p {
  font-size: 1.6rem;
}
