.aboutPage {
  &__intro {
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__introText {
    @include tablet {
      margin-right: 2rem;
    }
  }

  &__introText p {
    font-size: 1.8rem;
  }

  &__profilePic {
    text-align: center;
  }

  &__link {
    margin-left: 0.5rem;
  }

  &__emoji {
    margin-left: 0.5rem;
    font-size: 2.5rem;
  }

  &__resume {
    margin-bottom: 5rem;
  }
}
