.blog {
  &__post header {
    margin-bottom: 3rem;
  }
  &__post-section {
    margin-bottom: 5rem;
  }
  &__list-item {
    margin-top: 4rem;
  }
  &__date {
    font-size: 1.25rem;
    color: var(--color-tertiary-light);
  }
  &__code {
    font-size: 1rem;
  }
  &__body {
    margin-top: 1.5rem;
  }
  &__navList {
    font-size: 1.5rem;
  }
}
