.homePage {
  &__intro span {
    font-size: 4rem;
    margin-left: 1rem;
    @include tablet {
      font-size: 6rem;
    }
  }

  &__content {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__intro h1 {
    font-size: 4rem;
    @include tablet {
      font-size: 6rem;
    }
  }

  &__introText p {
    font-size: var(--font-size-l);
  }

  &__button {
    padding-top: 2rem;
  }
}
