.circle {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.outer-circle {
  width: 16rem;
  height: 16rem;
  background: var(--color-greyscale-base);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}
.inner-circle {
  width: 14.5rem;
  height: 14.5rem;
  border: 3px solid var(--color-white);
  box-shadow: 0px 0px 3px 2px var(--color-greyscale-light) inset;
  z-index: 1;
  overflow: hidden;
}

.splash {
  position: absolute;
  width: 50%;
  height: 120%;
  max-height: 0;
  background: var(--color-tertiary-light);
}
.outer-circle:hover .splash {
  max-height: 130%;
}

/* Animation */
.circle .direction-1 {
  top: -5%;
  right: 0;
  transition: max-height 0.4s linear;
}
.circle .direction-2 {
  bottom: -5%;
  left: 0;
  transition: max-height 0.4s linear;
}

.profile__pic {
  border-radius: 100%;
  min-width: 14rem;
}
